
@{
    ViewBag.Title = "Pacientii clinicii";
}


<h2 class="text-center">@ViewBag.Title</h2>

@foreach (var aux in ViewBag.Pacienti)
{
    <div class="panel panel-warning">
        <div class="panel-heading">
            @Html.Label("Nume", "Nume: ")
            <p>@aux.Nume</p>
        </div>

        <div class="panel-body">
            @Html.Label("Diagnostic", "Diagnostic: ")
            <p>@aux.Diagnostic</p>

            @if (ViewBag.user)
            {
                using (Html.BeginForm(actionName: "Detalii", controllerName: "Pacient", method: FormMethod.Get,
                 routeValues: new { id = aux.PacientId }))
                {
                    <p>Pentru a vizualiza(/modifica) mai multe detalii: </p>
                    <button style="margin-right:5px" class="btn btn-warning col-lg-1" type="submit">
                        Detalii
                    </button>
                }
            }
        </div>

    </div>

}
@*<button style="margin-right:5px" class="btn btn-warning col-lg-1">@Html.ActionLink("Adaugare filiala", "New")</button>*@

@* Daca suntem in rol de administrator *@
@if (ViewBag.user)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Actiuni suplimentare</p>
        </div>
        <div class="panel-body">
            <p> @Html.ActionLink("Adaugare Pacient", "New")</p>
        </div>
    </div>
}

