@model clinicaMedicala4.Models.Programare

@{
    ViewBag.Title = "Editeaza detaliile despre programare";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Programare"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <!--camp ascuns pentru a retine id-ul obiectului-->
    @Html.HiddenFor(aux => aux.ProgramareId)
    <br />

    @Html.Label("An", "An:")
    <br />
    @Html.EditorFor(aux => aux.An, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(aux => aux.An, "", new { @class = "text-danger" })
    <br />
    <br />
    
    @Html.Label("Luna", "Luna:")
    <br />
    @Html.EditorFor(aux => aux.Luna, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(aux => aux.Luna, "", new { @class = "text-danger" })
    <br />
    <br />
    
    @Html.Label("Zi", "Zi:")
    <br />
    @Html.EditorFor(aux => aux.Zi, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(aux => aux.Zi, "", new { @class = "text-danger" })
    <br />
    <br />
    
    @Html.Label("Ora", "Ora:")
    <br />
    @Html.EditorFor(aux => aux.Ora, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(aux => aux.Ora, "", new { @class = "text-danger" })
    <br />
    <br />
     
    @Html.Label("TipProgramare", "Tip programare:")
    <br />
    @Html.EditorFor(aux => aux.TipProgramare, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(aux => aux.TipProgramare, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Observatii", "Observatii:")
    <br />
    @Html.EditorFor(aux => aux.Observatii, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(aux => aux.Observatii, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-warning" type="submit">Update</button>
}
